@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  color: hsl(0, 0%, 0%);
  background: hsl(0, 0, 100%);
}

nav {
  display: flex;
  position: absolute;
  top: 2px;
  left: 12px;
  padding: 2rem 2rem;
}

.logo {
  display: inline;
}

.hamburger {
  display: none;
}

.mobile-hero {
  display: none;
}

nav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin-left: 3rem;
  justify-content: space-between;
  /* border: 1px solid red; */
}

header {
  display: grid;
  grid-template-columns: 1fr 600px;
}

.desktop-hero img {
  width: 100%;
}

#article h1 {
  font-size: 3rem;
  font-weight: bolder;
  padding: 3rem;
  /* border: 1px solid red; */
}

#article p {
  font-size: 14px;
  margin-bottom: 2rem;
  line-height: 1.5;
  padding: 0 3rem 4rem;
}

.article-text a {
  margin-left: 3.5rem;
  margin-bottom: 3rem;
}

#article a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 10px;
}

#article a:hover {
  color: hsl(0, 0%, 63%);
}

.sliders {
  position: absolute;
  bottom: 199px;
}

.angle-left {
  background-color: hsl(0, 0%, 0%);
  padding: 2rem;
}

.angle-right {
  background-color: hsl(0, 0%, 0%);
  padding: 2rem;
}

section {
  margin-top: -4px;
  display: grid;
  grid-template-columns: 430px 1fr 430px;
}

section img {
  width: 100%;
}

section .text {
  padding: 3rem 3rem;
}

section h3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bolder;
}

section p {
  font-size: 1rem;
  color: hsl(0, 0%, 63%);
  line-height: 1.2;
}

/* Mobile-display */

@media (max-width: 576px) {
  header {
    display: block;
  }

  .hamburger {
    display: inline;
    margin-right: 7rem;
  }

  .navlist {
    display: none;
  }

  header .desktop-hero {
    display: none;
  }
  header .mobile-hero {
    display: block;
  }
  .mobile-hero img {
    width: 100%;
  }

  #article h1 {
    font-size: 2rem;
    line-height: 1;
    font-weight: bolder;
  }

  #article p {
    font-size: 1rem;
    margin-bottom: 4rem;
    line-height: 1.5;
    padding: 0 3.5rem;
  }

  #article a {
    font-size: 14px;
  }

  .sliders {
    position: absolute;
    left: 310px;
    top: 405px;
  }

  section {
    display: block;
  }

  section p {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    color: hsl(0, 0%, 63%);
    line-height: 1.3;
  }
}
